@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.grad1 {
  background-image: linear-gradient(135deg, #fdeb71 10%, #f8d800 100%);
  color: #121212;
}

.grad2 {
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
  color: #121212;
}

.grad3 {background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}

.grad4 {background-image: linear-gradient( 135deg, #CE9FFC 10%, #877eec 100%);
}

.grad5 {background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
}

.grad6 {background-image: linear-gradient( 135deg, #FFF6B7 10%, #f87594 100%);
}

.grad7{
  background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
}

.grad8{
  background-image: linear-gradient( 135deg, #E2B0FF 10%, #9F44D3 100%);
}

.grad9{
  background-image: linear-gradient( 135deg, #F97794 10%, #623AA2 100%);
  color: white;
}

.grad10{
  background-image: linear-gradient( 135deg, #ffdd60 10%, #f67a7a 100%);
}

.grad11{
  background-image: linear-gradient( 135deg, #F761A1 10%, #8C1BAB 100%);
  color: white;
}

.grad12{
  background-image: linear-gradient( 135deg, #FAD7A1 10%, #E96D71 100%);
}

.grad13{
  background-image: linear-gradient( 135deg, #FF96F9 10%, #b85caa 100%);
}

.grad14{
  background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
  color: white;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  50% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

@keyframes marquee2 {
  0% {
    left: -50%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: -50%;
  }
}

.marquee {
  width: 100%;
  color: #000000;
  font-size: 4rem;
  position: relative;
  white-space: nowrap;
  animation: marquee 60s linear infinite;
  font-family: "Fredericka the Great", cursive;
  opacity: 0.2;
}

.marquee:nth-child(odd){
  animation: marquee2 60s linear infinite;
}
