@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.grad1 {
  background-image: linear-gradient(135deg, #fdeb71 10%, #f8d800 100%);
  color: #121212;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  50% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

@keyframes marquee2 {
  0% {
    left: -50%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: -50%;
  }
}

.marquee {
  width: 100%;
  color: #000000;
  font-size: 4rem;
  position: relative;
  white-space: nowrap;
  animation: marquee 60s linear infinite;
  font-family: "Fredericka the Great", cursive;
  opacity: 0.2;
}

.marquee:nth-child(odd){
  animation: marquee2 60s linear infinite;
}
